.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/tsconfig.json
!webview-ui/dist/**
!webview-ui/react.html